# Normalize text files for GitHub/GitLab clones across platforms.
* text=auto eol=lf

# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Treat raster images as binary assets.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
