.editor-statement-content .editor-statement-citation {
  margin-left: 32px;
  text-indent: -32px;
}

@media (max-width: 780px) {
  .editor-statement-content .editor-statement-citation {
    margin-left: 18px;
    text-indent: -18px;
  }
}
